################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/.vs/HelloWorld/v16/Server/sqlite3
/HelloWorld/HelloWorld/bin/Debug/netcoreapp2.2
/HelloWorld/HelloWorld/obj
